
.vs/GizmosBeGone/v17/.suo
GizmosBeGone/bin/Debug/0Harmony.dll
GizmosBeGone/bin/Debug/AssimpNet.dll
GizmosBeGone/bin/Debug/BaseX.dll
GizmosBeGone/bin/Debug/BaseX.dll.config
GizmosBeGone/bin/Debug/BaseX.xml
GizmosBeGone/bin/Debug/Ben.Demystifier.dll
GizmosBeGone/bin/Debug/BepuPhysics.dll
GizmosBeGone/bin/Debug/BepuUtilities.dll
GizmosBeGone/bin/Debug/CloudX.Shared.dll
GizmosBeGone/bin/Debug/CodeX.dll
GizmosBeGone/bin/Debug/CommandX.dll
GizmosBeGone/bin/Debug/Compressonator.NET.dll
GizmosBeGone/bin/Debug/CortexAccess.dll
GizmosBeGone/bin/Debug/CortexInterface.dll
GizmosBeGone/bin/Debug/crunch.NET.dll
GizmosBeGone/bin/Debug/CSCore.dll
GizmosBeGone/bin/Debug/CUETools.Codecs.dll
GizmosBeGone/bin/Debug/CUETools.Codecs.FLAKE.dll
GizmosBeGone/bin/Debug/FreeImageNET.dll
GizmosBeGone/bin/Debug/FrooxEngine.dll
GizmosBeGone/bin/Debug/GizmosBeGone.dll
GizmosBeGone/bin/Debug/GizmosBeGone.pdb
GizmosBeGone/bin/Debug/Graph3D.Vrml.dll
GizmosBeGone/bin/Debug/Jeffijoe.MessageFormat.dll
GizmosBeGone/bin/Debug/JM.LinqFaster.dll
GizmosBeGone/bin/Debug/laszip.net.dll
GizmosBeGone/bin/Debug/LiteDB.dll
GizmosBeGone/bin/Debug/LiteNetLib.dll
GizmosBeGone/bin/Debug/LZ4.dll
GizmosBeGone/bin/Debug/LZMA.dll
GizmosBeGone/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
GizmosBeGone/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
GizmosBeGone/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.dll
GizmosBeGone/bin/Debug/Microsoft.Extensions.Logging.Abstractions.dll
GizmosBeGone/bin/Debug/Mikktspace.NET.dll
GizmosBeGone/bin/Debug/MimeDetective.dll
GizmosBeGone/bin/Debug/Mono.Cecil.dll
GizmosBeGone/bin/Debug/Mono.Cecil.Pdb.dll
GizmosBeGone/bin/Debug/Mono.Cecil.Rocks.dll
GizmosBeGone/bin/Debug/Msdfgen.NET.dll
GizmosBeGone/bin/Debug/NeosModLoader.dll
GizmosBeGone/bin/Debug/Newtonsoft.Json.Bson.dll
GizmosBeGone/bin/Debug/Newtonsoft.Json.Bson.xml
GizmosBeGone/bin/Debug/NLayer.dll
GizmosBeGone/bin/Debug/NVorbis.dll
GizmosBeGone/bin/Debug/NYoutubeDL.dll
GizmosBeGone/bin/Debug/obs-websocket-dotnet.dll
GizmosBeGone/bin/Debug/Octokit.dll
GizmosBeGone/bin/Debug/OggVorbisEncoder.dll
GizmosBeGone/bin/Debug/Otp.NET.dll
GizmosBeGone/bin/Debug/POpusCodec.dll
GizmosBeGone/bin/Debug/PostX.dll
GizmosBeGone/bin/Debug/QRCoder.dll
GizmosBeGone/bin/Debug/QuantityX.dll
GizmosBeGone/bin/Debug/RNNoise.NET.dll
GizmosBeGone/bin/Debug/SharpFont.dll
GizmosBeGone/bin/Debug/SignalR.Strong.dll
GizmosBeGone/bin/Debug/Steamworks.NET.dll
GizmosBeGone/bin/Debug/SubtitlesParser.dll
GizmosBeGone/bin/Debug/SuperSocket.ClientEngine.dll
GizmosBeGone/bin/Debug/System.Buffers.dll
GizmosBeGone/bin/Debug/System.Buffers.xml
GizmosBeGone/bin/Debug/System.Collections.Immutable.dll
GizmosBeGone/bin/Debug/System.Memory.dll
GizmosBeGone/bin/Debug/System.Memory.xml
GizmosBeGone/bin/Debug/System.Numerics.Vectors.dll
GizmosBeGone/bin/Debug/System.Reflection.Metadata.dll
GizmosBeGone/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
GizmosBeGone/bin/Debug/System.Text.Encodings.Web.dll
GizmosBeGone/bin/Debug/System.Text.Encodings.Web.xml
GizmosBeGone/bin/Debug/System.Text.Json.dll
GizmosBeGone/bin/Debug/System.Text.Json.xml
GizmosBeGone/bin/Debug/System.Threading.Tasks.Dataflow.dll
GizmosBeGone/bin/Debug/System.Threading.Tasks.Extensions.dll
GizmosBeGone/bin/Debug/System.ValueTuple.dll
GizmosBeGone/bin/Debug/System.ValueTuple.xml
GizmosBeGone/bin/Debug/TwitchLib.Api.Core.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.Core.Enums.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.Core.Interfaces.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.Core.Models.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.Helix.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.Helix.Models.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.V5.dll
GizmosBeGone/bin/Debug/TwitchLib.Api.V5.Models.dll
GizmosBeGone/bin/Debug/TwitchLib.Client.dll
GizmosBeGone/bin/Debug/TwitchLib.Client.Enums.dll
GizmosBeGone/bin/Debug/TwitchLib.Client.Models.dll
GizmosBeGone/bin/Debug/TwitchLib.Communication.dll
GizmosBeGone/bin/Debug/TwitchLib.PubSub.dll
GizmosBeGone/bin/Debug/WebSocket4Net.dll
GizmosBeGone/bin/Release/0Harmony.dll
GizmosBeGone/bin/Release/AssimpNet.dll
GizmosBeGone/bin/Release/BaseX.dll
GizmosBeGone/bin/Release/BaseX.dll.config
GizmosBeGone/bin/Release/BaseX.xml
GizmosBeGone/bin/Release/Ben.Demystifier.dll
GizmosBeGone/bin/Release/BepuPhysics.dll
GizmosBeGone/bin/Release/BepuUtilities.dll
GizmosBeGone/bin/Release/CloudX.Shared.dll
GizmosBeGone/bin/Release/CodeX.dll
GizmosBeGone/bin/Release/CommandX.dll
GizmosBeGone/bin/Release/Compressonator.NET.dll
GizmosBeGone/bin/Release/CortexAccess.dll
GizmosBeGone/bin/Release/CortexInterface.dll
GizmosBeGone/bin/Release/crunch.NET.dll
GizmosBeGone/bin/Release/CSCore.dll
GizmosBeGone/bin/Release/CUETools.Codecs.dll
GizmosBeGone/bin/Release/CUETools.Codecs.FLAKE.dll
GizmosBeGone/bin/Release/FreeImageNET.dll
GizmosBeGone/bin/Release/FrooxEngine.dll
GizmosBeGone/bin/Release/GizmosBeGone.dll
GizmosBeGone/bin/Release/GizmosBeGone.pdb
GizmosBeGone/bin/Release/Graph3D.Vrml.dll
GizmosBeGone/bin/Release/Jeffijoe.MessageFormat.dll
GizmosBeGone/bin/Release/JM.LinqFaster.dll
GizmosBeGone/bin/Release/laszip.net.dll
GizmosBeGone/bin/Release/LiteDB.dll
GizmosBeGone/bin/Release/LiteNetLib.dll
GizmosBeGone/bin/Release/LZ4.dll
GizmosBeGone/bin/Release/LZMA.dll
GizmosBeGone/bin/Release/Microsoft.Bcl.AsyncInterfaces.dll
GizmosBeGone/bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
GizmosBeGone/bin/Release/Microsoft.Extensions.DependencyInjection.Abstractions.dll
GizmosBeGone/bin/Release/Microsoft.Extensions.Logging.Abstractions.dll
GizmosBeGone/bin/Release/Mikktspace.NET.dll
GizmosBeGone/bin/Release/MimeDetective.dll
GizmosBeGone/bin/Release/Mono.Cecil.dll
GizmosBeGone/bin/Release/Mono.Cecil.Pdb.dll
GizmosBeGone/bin/Release/Mono.Cecil.Rocks.dll
GizmosBeGone/bin/Release/Msdfgen.NET.dll
GizmosBeGone/bin/Release/NeosModLoader.dll
GizmosBeGone/bin/Release/Newtonsoft.Json.Bson.dll
GizmosBeGone/bin/Release/Newtonsoft.Json.Bson.xml
GizmosBeGone/bin/Release/NLayer.dll
GizmosBeGone/bin/Release/NVorbis.dll
GizmosBeGone/bin/Release/NYoutubeDL.dll
GizmosBeGone/bin/Release/obs-websocket-dotnet.dll
GizmosBeGone/bin/Release/Octokit.dll
GizmosBeGone/bin/Release/OggVorbisEncoder.dll
GizmosBeGone/bin/Release/Otp.NET.dll
GizmosBeGone/bin/Release/POpusCodec.dll
GizmosBeGone/bin/Release/PostX.dll
GizmosBeGone/bin/Release/QRCoder.dll
GizmosBeGone/bin/Release/QuantityX.dll
GizmosBeGone/bin/Release/RNNoise.NET.dll
GizmosBeGone/bin/Release/SharpFont.dll
GizmosBeGone/bin/Release/SignalR.Strong.dll
GizmosBeGone/bin/Release/Steamworks.NET.dll
GizmosBeGone/bin/Release/SubtitlesParser.dll
GizmosBeGone/bin/Release/SuperSocket.ClientEngine.dll
GizmosBeGone/bin/Release/System.Buffers.dll
GizmosBeGone/bin/Release/System.Buffers.xml
GizmosBeGone/bin/Release/System.Collections.Immutable.dll
GizmosBeGone/bin/Release/System.Memory.dll
GizmosBeGone/bin/Release/System.Memory.xml
GizmosBeGone/bin/Release/System.Numerics.Vectors.dll
GizmosBeGone/bin/Release/System.Reflection.Metadata.dll
GizmosBeGone/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
GizmosBeGone/bin/Release/System.Text.Encodings.Web.dll
GizmosBeGone/bin/Release/System.Text.Encodings.Web.xml
GizmosBeGone/bin/Release/System.Text.Json.dll
GizmosBeGone/bin/Release/System.Text.Json.xml
GizmosBeGone/bin/Release/System.Threading.Tasks.Dataflow.dll
GizmosBeGone/bin/Release/System.Threading.Tasks.Extensions.dll
GizmosBeGone/bin/Release/System.ValueTuple.dll
GizmosBeGone/bin/Release/System.ValueTuple.xml
GizmosBeGone/bin/Release/TwitchLib.Api.Core.dll
GizmosBeGone/bin/Release/TwitchLib.Api.Core.Enums.dll
GizmosBeGone/bin/Release/TwitchLib.Api.Core.Interfaces.dll
GizmosBeGone/bin/Release/TwitchLib.Api.Core.Models.dll
GizmosBeGone/bin/Release/TwitchLib.Api.dll
GizmosBeGone/bin/Release/TwitchLib.Api.Helix.dll
GizmosBeGone/bin/Release/TwitchLib.Api.Helix.Models.dll
GizmosBeGone/bin/Release/TwitchLib.Api.V5.dll
GizmosBeGone/bin/Release/TwitchLib.Api.V5.Models.dll
GizmosBeGone/bin/Release/TwitchLib.Client.dll
GizmosBeGone/bin/Release/TwitchLib.Client.Enums.dll
GizmosBeGone/bin/Release/TwitchLib.Client.Models.dll
GizmosBeGone/bin/Release/TwitchLib.Communication.dll
GizmosBeGone/bin/Release/TwitchLib.PubSub.dll
GizmosBeGone/bin/Release/WebSocket4Net.dll
GizmosBeGone/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GizmosBeGone/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GizmosBeGone/obj/Debug/GizmosBeGone.csproj.AssemblyReference.cache
GizmosBeGone/obj/Debug/GizmosBeGone.csproj.CopyComplete
GizmosBeGone/obj/Debug/GizmosBeGone.csproj.CoreCompileInputs.cache
GizmosBeGone/obj/Debug/GizmosBeGone.csproj.FileListAbsolute.txt
GizmosBeGone/obj/Debug/GizmosBeGone.dll
GizmosBeGone/obj/Debug/GizmosBeGone.pdb
GizmosBeGone/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GizmosBeGone/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
GizmosBeGone/obj/Release/GizmosBeGone.csproj.AssemblyReference.cache
GizmosBeGone/obj/Release/GizmosBeGone.csproj.CopyComplete
GizmosBeGone/obj/Release/GizmosBeGone.csproj.CoreCompileInputs.cache
GizmosBeGone/obj/Release/GizmosBeGone.csproj.FileListAbsolute.txt
GizmosBeGone/obj/Release/GizmosBeGone.dll
GizmosBeGone/obj/Release/GizmosBeGone.pdb
